<h1>edit</h1>

<%= form_with scope: :post , url: user_post_path, method: :put do |f|%>

  <%= f.label "title"%><br>
  <%= f.text_field :title%><br>

  <%= f.label "body"%><br>
  <%= f.text_field :body%><br>

   
  <%= f.submit%>
<%end%>
